.Card {
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 2px 2px 2px;
  text-align:center;
  margin: 20px;
  padding: 20px;
  max-width: 250px;
  font-family: 'Times New Roman', Times, serif;
}